@import '~antd/dist/antd.css';

.layout{
  position: relative;
  height:1600px;
}

.header{
  position: relative;
  height:30%;
  background-color: black;
  background-image: url("../img/bistro.jpg");
}

.title{
  position: relative;
  height:100%;
}

.menu{
  position: relative;
  height:20%;
}

.searchBar{
  position: relative;
  height: 80%;
}

.searchBar div{
  position: relative;
  margin:10%;
}

#searchField{
  background-color:#232323;
  border-color: #232323;
  border-radius: 0%;
}

.content{
  position: relative;
  height:60%;
}

.slider{
  position: relative;
  height:50%;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 500px;
  line-height: 500px;
  background: black;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.registration{
  position: relative;
  height:50%;
}

.footer{
  position: relative;
  height:10%;
  background-color: gray;
}